POSTGREST_BASE_URL=http://127.0.0.1:3000
APP_HOST=127.0.0.1
APP_PORT=8796
REQUEST_TIMEOUT=10
PRODUCT_ADMIN_URL=http://127.0.0.1:8794
PUBLIC_STORE_NAME=Replau Burger
PUBLIC_WHATSAPP_NUMBER=51973875456
