POSTGREST_BASE_URL=http://127.0.0.1:3000
ADMIN_HOST=127.0.0.1
ADMIN_PORT=8794
REQUEST_TIMEOUT=10
REQUIRE_ADMIN_TOKEN=true
ADMIN_TOKEN=CHANGE_ME_TO_LONG_RANDOM_TOKEN
PRODUCTS_ENDPOINT=productos
PRICES_ENDPOINT=producto_precios
DEFAULT_MONEDA=PEN
DEFAULT_UNIDAD=UNIDAD
